# below line will ignore any node_modules in any subdirectories/submodules in our project 
node_modules/ 
.env
# below line will ignore any .env file in any subdirectories/submodules in our project 
**/.env
